.login{
    background-color: #8595BD;
    min-height:100vh;
    width: 100%;
    align-items:center;
    justify-content:center;
}

.login h1{
    padding-left:0px !important;
    font-size:5rem;
}

.login-form{
    padding: 2% 5%;
    border-radius: 8px;
    background-color: #A4B1D3;
}

.login-form h3{
    text-align: center;
}

.icon p{
    text-align: center;
    color: white;
}

.btn-login{

    justify-content:center;
}

.registro{
    display:flex;
    align-items: center;
    justify-content: center;
}